@import "vendor/normalize";

$color-green: #47c24c;
$color-purple: #8067c3;
$color-blue: #1f95c3;
$color-orange: #ff9121;

$device-desktop: "only screen and (max-width: 1280px)";
$device-tablet: "only screen and (max-width: 860px)";
$device-tablet-766: "only screen and (max-width: 766px)";
$device-phone: "only screen and (max-width: 620px)";
$device-xs-phone: "only screen and (max-width: 375px)";

@mixin icon-center() {
	display: block;
	margin: 0 auto;
}

html {
	box-sizing: border-box;
}

*, *:before, *:after {
	box-sizing: inherit;
}

body {
	background: #fafafa;
	font-family: 'Lato', 'Helvetica', 'Arial', sans-serif;
	scroll-behavior: smooth;

	.btn {
		display: inline-block;
		color: #fff;
		font-weight: bold;
		text-decoration: none;

		&.btn--small {
			border-radius: 2px;
			padding: 8px 10px;
			font-size: 14px;
		}

		&.btn--medium {
			border-radius: 4px;
			padding: 16px 24px;
			font-size: 18px;
		}

		&.btn--purple {
			background: $color-purple;

			&:hover {
				background: darken($color-purple, 10%);
			}

		}

		&.btn--gray {
			background: #d4d4d4;
			color: #727272;

			&:hover {
				background: darken(#d4d4d4, 10%);
				color: #565656;
			}

		}

		&.btn--orange {
			background: $color-orange;
			margin: 0 0 20px 0;

			&:hover {
				background: darken($color-orange, 10%);
			}
		}

	}

}

.app {

}

.header__mobile {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	background: white;
	z-index: 1000;
}

.header__mobile__top {
	display: flex;
	justify-content: space-between;
	padding: 24px;
}

.header__mobile__logo {

	a {
		display: inline-block;
		width: 140px;
		height: 51px;
		background: transparent url('images/bonsai-logo-color.svg') no-repeat center center;
		background-size: 100% 100%;
	}

}

.header__mobile-button-off {
	display: block;
	align-self: center;
	margin: 0;
	width: 32px;
	height: 40px;
	background: transparent url('images/close-mobile-menu.svg') no-repeat center center;
	cursor: pointer;
}

.header__mobile__divider {
	margin: 0 24px;
	position: relative;
	border: none;
	border-top: 1px solid #e4e4e4;
}

.header__mobile__menu {
	padding: 16px 0;

	a {
		display: block;
		padding: 12px 24px;
		color: #2b3b49;
		font-size: 16px;
		font-weight: 600;
		text-decoration: none;
		text-transform: uppercase;
	}

}

.header {
	display: flex;
	max-width: 1280px;
	margin: 0 auto 72px auto;
	position: relative;
	justify-content: space-between;

	&--chatbots {
		margin: 0 auto 30px auto;
	}
}

.header__left {
	align-self: center;

	a {
		display: inline-block;
		width: 140px;
		height: 51px;
		background: transparent url('images/bonsai-logo-white.svg') no-repeat center center;
		background-size: 100% 100%;
	}

}

.header__right {
	display: flex;
	align-self: center;

	.header__menu {
		align-self: center;

		@media #{$device-phone} {
			display: none;
		}

	}

	a {
		display: inline-block;
		margin: 0 16px;
		color: #fff;
		font-size: 14px;
		font-weight: bold;
		text-decoration: none;
		text-transform: uppercase;
	}

	.header__mobile-button {
		display: none;
		align-self: center;
		margin: 0;
		width: 32px;
		height: 40px;
		background: transparent url('images/hamburger-icon.svg') no-repeat center center;
		cursor: pointer;

		@media #{$device-phone} {
			display: block;
		}

	}
	
}

.hero {
	padding: 48px;
	position: relative;
	background: #26313c;
	background-image: url('images/hero-bg-pattern.png');

	@media #{$device-phone} {
		padding: 24px;
	}

	&::before {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		background-image: radial-gradient(circle at 50% 100%, rgba(62, 79, 95, 0.0), #26313c);
	}

	&--chatbots {
		padding: 48px 48px 65px 48px;
		background: $color-blue;
		background-image: url('images/hero-bg-pattern.png');

		&::before {
			background-image: radial-gradient(circle at 50% 100%, rgba(62,79,95,0), #06445d);
		}

		@media #{$device-phone} {
			padding: 24px 24px 48px 24px;
		}
	}
}

.hero__tagline {
	position: relative;

	h1 {
		max-width: 960px;
		margin: 0 auto;
		color: #fff;
		font-size: 48px;
		font-weight: bold;
		text-align: center;
		line-height: 1.5;

		@media #{$device-tablet} {
			font-size: 40px;
		}

		@media #{$device-phone} {
			font-size: 36px;
		}

	}

	p {
		margin: 0 0 24px 0;
		color: #51667a;
		font-size: 17px;
		font-weight: bold;
		text-align: center;
		text-transform: uppercase;
	}

	&--chatbots {
		p {
			color: rgba(255, 255, 255, 0.7);
			margin: 0;
		}
	}

}

.hero__divider {
	max-width: 520px;
	margin: 48px auto;
	position: relative;
	border: none;
	border-top: 1px solid rgba(255,255,255,0.1);
}

.hero__agents {
	max-width: 960px;
	margin: 0 auto;
	position: relative;
	display: flex;
	justify-content: space-between;

	@media #{$device-tablet} {
		flex-direction: column;
		align-items: center;
	}

}

.hero__agents__chat {
	display: flex;
	flex-direction: column;

	.hero__agents__message {
		display: flex;
		margin: 12px 0;
		opacity: 0;
		animation-name: expandOpen;
		-webkit-animation-name: expandOpen;
		animation-duration: 0.5s;
		-webkit-animation-duration: 0.5s;
		animation-timing-function: ease-out;
		-webkit-animation-timing-function: ease-out;
		animation-fill-mode: forwards;
		-webkit-animation-fill-mode: forwards;
		visibility: visible !important;

		&:nth-child(1) {
		}

		&:nth-child(2) {
			animation-delay: 0.3s;
		}

		&:nth-child(3) {
			animation-delay: 0.6s;
		}

		&:nth-child(4) {
			animation-delay: 0.9s;
		}

		&:nth-child(5) {
			animation-delay: 1.2s;
		}

		@keyframes expandOpen {
			0% {
				transform: scale(1.1);
			}
			50% {
				transform: scale(0.95);
				opacity: 1.0;
			}
			100% {
				transform: scale(1);
				opacity: 1.0;
			}
		}

		@-webkit-keyframes expandOpen {
			0% {
				-webkit-transform: scale(1.1);
			}
			50% {
				-webkit-transform: scale(0.95);
				opacity: 1.0;
			}	
			100% {
				-webkit-transform: scale(1);
				opacity: 1.0;
			}
		}

		&.message--green {
			padding-right: 96px;

			@media #{$device-tablet} {
				padding-right: 48px;
			}

			.hero__agents__bubble {
				background: $color-green;
			}

			p {
				color: #fff;
			}
		}

		&.message--white {
			padding-left: 96px;
			align-self: flex-end;

			@media #{$device-tablet} {
				padding-left: 48px;
			}

			.hero__agents__bubble {
				background: #fff;
			}

			p {
				color: #2b3b49;
			}

		}

	}

	.hero__agents__avatar {
		width: 40px;
		height: 40px;
		border-radius: 100%;
		flex-shrink: 0;

		&.avatar--robot {
			margin-right: 8px;
			background: transparent url('images/chat-bot-avatar@2x.png') no-repeat center center;
			background-size: 100% 100%;
		}

		&.avatar--person {
			margin-left: 8px;
			background: transparent url('images/user-avatar@2x.jpg') no-repeat center center;
			background-size: 100% 100%;
		}


	}

	.hero__agents__bubble {
		max-width: 272px;
		padding: 12px 16px;
		border-radius: 4px;
		box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.25);

		p {
			margin: 0;
			color: #2b3b49;
			font-size: 15px;
			line-height: 1.4;
		}

	}

}

.hero__agents__arrow {
	width: 80px;
	background: transparent url('images/hero-arrow.svg') no-repeat center center;

	@media #{$device-tablet} {
		width: 100%;
		height: 80px;
		background: transparent url('images/hero-arrow-down.svg') no-repeat center center;
	}

}

.hero__agents__cta {
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;

	h2 {
		margin: 0 0 16px 0;
		color: #fff;
		font-size: 40px;
		font-weight: bold;
	}

	p {
		margin: 0 0 40px 0;
		color: rgba(255, 255, 255, 0.75);
		font-size: 18px;
	}

	a {
		align-self: center;
	}
	
}

.testimonials {
	width: 820px;
	margin: 64px auto 32px auto;

	@media #{$device-tablet} {
		width: 90%;
	}

	@media #{$device-tablet-766} {
		margin: 32px auto;
	}

	@media #{$device-phone} {
		margin: 30px auto 30px auto;
	}

}

.testimonials__carousel {
	display: flex;
}

.testimonials__arrow-left,
.testimonials__arrow-right {
	display: inline-block;
	flex-shrink: 0;
	align-self: center;
	width: 14px;
	height: 24px;
	cursor: pointer;

	@media #{$device-phone} {
		display: none;
	}

}

.testimonials__arrow-left {
	margin-right: 24px;
	background: transparent url('images/slider-arrow-left.svg') no-repeat center center;
}

.testimonials__arrow-right {
	margin-left: 24px;
	background: transparent url('images/slider-arrow-right.svg') no-repeat center center;
}

.testimonials__wrapper {
	flex-grow: 2;
	border-radius: 8px;
	background: #fff;
	box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.15);

	.testimonial {
		align-self: center;
		padding: 40px;
		text-align: center;

		.testimonial__text {
			color: #4e5f6f;
			font-size: 21px;
			line-height: 1.5;
		}

		.testimonial__person {
			color: #848e99;
			font-size: 16px;

			img {
				display: inline-block;
				width: 32px;
				height: 32px;
				margin-right: 8px;
				position: relative;
				top: 10px;
				border-radius: 100%;
			}

		}

	}

}

.testimonials__pagination {
	padding: 24px;
	text-align: center;
	cursor: default;
}

.testimonials__pagination__item {
	display: inline-block;
	width: 8px;
	height: 8px;
	margin: 4px;
	border-radius: 100%;
	background: #c3d1de;
	cursor: pointer;
	transition: all 0.1s ease;

	&:hover {
		background: darken(#c3d1de, 20%);
	}

	&.item--active {
		width: 16px;
		border-radius: 6px;
		background: $color-green;
	}

}

.products {
	max-width: 1280px;
	margin: 0 auto;
	padding: 16px 0 64px 0;

	h2 {
		color: #2b3b49;
		font-size: 32px;
		text-align: center;
	}

}

.products__list {
	display: flex;

	@media #{$device-tablet} {
		flex-direction: column;
	}

	.product {
		display: flex;
		flex-direction: column;
		flex-grow: 1;
		flex-basis: 0;
		justify-content: space-between;
		margin: 12px;
		padding: 24px;
		border-radius: 8px;
		box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.15);
		background: #fff;
		text-align: center;

		@media #{$device-tablet} {
			flex-grow: 0;
			flex-basis: auto;
		}

		img {
			margin-bottom: 24px;
		}

		h3 {
			margin: 0 0 8px 0;
			color: #2b3b49;
			font-size: 18px;
			font-weight: bold;
		}

		p {
			margin: 0 0 24px 0;
			color: #4e5f6f;
			font-size: 16px;
			line-height: 1.5;
		}

		a {
			align-self: center;
		}

	}

}

.footer {
	position: relative;
	padding: 40px 64px;
	background: #282237;
	background-image: url('images/footer-bg-pattern.png');

	@media #{$device-tablet} {
		padding: 20px 32px;
	}

	&::before {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		background-image: radial-gradient(circle at 50% 100%, rgba(40, 34, 55, 0.0), #282237);
	}
}

.footer__divider {
	position: relative;
	max-width: 520px;
	border: none;
	border-top: 1px solid rgba(255,255,255,0.1);
}

.footer__cta {
	position: relative;
	padding-bottom: 48px;
	color: #fff;
	text-align: center;

	h3 {
		margin-bottom: 40px;
		font-size: 28px;
		font-style: italic;
		font-weight: bold;
		line-height: 1.5;
	}

	a {
		cursor: pointer;
	}

	&--chatbots {
		padding-bottom: 35px;
	}
}

.footer__information {
	position: relative;
	padding-top: 24px;
	color: #fff;

	.footer__block {
		text-align: center;

		.icon--google-maps {
			display: inline-block;
			width: 20px;
			height: 20px;
			margin-right: 4px;
			position: relative;
			top: 2px;
			background: transparent url('images/google-maps-icon.svg') no-repeat center center;
		}

		h4 {
			font-size: 18px;
			line-height: 1.5;
		}

		p {
			color: rgba(#fff, 0.5);
			font-size: 16px;
			line-height: 1.5;

			strong {
				color: #fff;
			}

		}

		&-logo {
			display: block;
			margin: 0 auto 35px auto;
			width: 140px;
			height: 51px;
			background: transparent url('images/bonsai-logo-white.svg') no-repeat center center;
			background-size: 100% 100%;
		}

	}

}

.footer__links {
	text-align: center;

	.icon {
		display: inline-block;
		width: 20px;
		height: 20px;
		margin: 8px;
	}

	.icon--github {
		background: transparent url('images/github.svg') no-repeat center center;
	}

	.icon--linkedin {
		background: transparent url('images/linkedin.svg') no-repeat center center;
	}

}

.modal-overlay {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	background: rgba(0,0,0,0.5);
	z-index: 20;
}

.contact-modal {
	display: none;
	width: 480px;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	padding: 40px;
	border-radius: 12px;
	z-index: 100;
	background: white;
	text-align: center;

	@media #{$device-phone} {
		width: 90%;
	}

	h2 {
		margin: 0 0 32px 0;
		padding: 0;
		color: #2b3b49;
		font-size: 32px;
		text-align: center;
	}

}

.contact-modal__form {
	margin-bottom: 32px;

	form {
		display: flex;
		flex-direction: column;
	}

	input, textarea {
		display: block;
		margin: 8px 0;
		padding: 12px;
		border: 1px solid #d4d4d4;
		border-radius: 3px;
		font-family: 'Lato', 'Helvetica', 'Arial', sans-serif;
		font-size: 15px;
		outline: none;

		&:focus {
			border: 1px solid $color-purple;
			box-shadow: 0 0 4px 0 rgba($color-purple, 0.5);
		}

	}

	textarea {
		height: 80px;
		resize: none;
	}

}

.contact-modal__actions {
	display: flex;
	justify-content: center;

	a {
		margin: 0 8px;
		cursor: pointer;
	}

}

.swal-footer {
	text-align: center;
}

.swal-button {
	border: none;
	outline: none;

	&:focus {
		box-shadow: none;
	}
}

.swal-button--confirm {
	background-color: $color-purple;

	&:hover {
		background: darken($color-purple, 10%);
	}

	&:active {
		background: darken($color-purple, 15%);
	}
}

// chatbots page
.v-center-wrapper {
	position: relative;
	top: 50%;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
}

.chatbots__description {
	padding: 100px 15px;
	width: 100%;
	max-width: 1440px;
	margin: 0 auto;

	@media #{$device-desktop} {
		padding: 60px 30px;
	}

	@media #{$device-tablet-766} {
		padding: 60px 30px 0 30px;
	}

	&__wrapper {
		width: 100%;
	}
}
	
.item-chatbot {
	margin-bottom: 60px;
	display: inline-block;
	width: 48%;

	@media #{$device-desktop} {
		margin-bottom: 30px;
		width: 100%;
	}
	
	&__description {
		font-size: 23px;
		font-weight: 300;
		color: #4e5f6f;
		display: block;
		float: left;
		width: 70%;
		height: 163px;
		padding-left: 35px;
		line-height: 1.4em;

		@media #{$device-phone} {
			width: 100%;
			padding: 0;
			margin: 10px 0 0 0;
			height: auto;
			text-align: center;
		}

		@media #{$device-xs-phone} {
			font-size: 20px;
		}
	}

	
}

.img-circle {
	width: 160px;
	height: 160px;
	border-radius: 50%;
	background: #ffffff;
	text-align: center;
	box-shadow: 0 2px 10px rgba(0,0,0,.3);
	display: block;
	float: left;

	@media #{$device-phone} {
		float: none;
		margin: 0 auto;
	}

	.icon {
		&--piggy {
			@include icon-center();
			width: 70px;
			height: 66px;
			background: url(images/chatbots/piggy-bank.svg) no-repeat 50% 50%;
			background-size: 70px auto;

			@media #{$device-tablet} {
				width: 60px;
				height: 60px;
				background: url(images/chatbots/piggy-bank.svg) no-repeat 50% 50%;
				background-size: 60px auto;
			}
		}

		&--workload {
			@include icon-center();
			width: 51px;
			height: 51px;
			background: url(images/chatbots/overload.svg) no-repeat 50% 50%;
			background-size: 50px auto;

			@media #{$device-tablet} {
				width: 41px;
				height: 41px;
				background: url(images/chatbots/overload.svg) no-repeat 50% 50%;
				background-size: 40px auto;
			}
		}

		&--intelligent {
			@include icon-center();
			width: 55px;
			height: 64px;
			background: url(images/chatbots/intelligent.svg) no-repeat 50% 50%;
			background-size: 54px auto;

			@media #{$device-tablet} {
				width: 45px;
				height: 54px;
				background: url(images/chatbots/intelligent.svg) no-repeat 50% 50%;
				background-size: 44px auto;
			}
		}

		&--available {
			@include icon-center();
			width: 71px;
			height: 67px;
			background: url(images/chatbots/available.svg) no-repeat 50% 50%;
			background-size: 70px auto;

			@media #{$device-tablet} {
				width: 60px;
				height: 57px;
				background: url(images/chatbots/available.svg) no-repeat 50% 50%;
				background-size: 60px auto;
			}
		}

		&--customizable {
			@include icon-center();
			width: 68px;
			height: 68px;
			background: url(images/chatbots/customizable.svg) no-repeat 50% 50%;
			background-size: 67px auto;

			@media #{$device-tablet} {
				width: 58px;
				height: 58px;
				background: url(images/chatbots/customizable.svg) no-repeat 50% 50%;
				background-size: 57px auto;
			}
		}

		&--simple-use {
			@include icon-center();
			width: 74px;
			height: 50px;
			background: url(images/chatbots/simple-use.svg) no-repeat 50% 50%;
			background-size: 73px auto;

			@media #{$device-tablet} {
				width: 64px;
				height: 46px;
				background: url(images/chatbots/simple-use.svg) no-repeat 50% 50%;
				background-size: 63px auto;
			}
		}
	}

	span {
		display: block;
		font-size: 18px;
		font-weight: 300;
		margin-top: 5px;

	}
}

.v-center {
	display: table;
	vertical-align: middle;
	width: 100%;
	height: 100%;

	&--item {
		display: table-cell;
		vertical-align: middle;
		width: 100%;
		height: 100%;
	}
}

.robot-section {
	padding: 270px 15px 60px 15px;

	@media #{$device-tablet} {
		padding: 200px 15px 60px 15px;
	}

	@media #{$device-tablet-766} {
		padding: 60px 15px 0 15px;
	}

	@media #{$device-xs-phone} {
		padding: 40px 15px 0 15px;
	}

	.img-circle {
		-webkit-transform: scale(1) translateZ(0);
		transform: scale(1) translateZ(0);
		-webkit-transition: all .2s ease-in-out;
		transition: all .2s ease-in-out;

		@media #{$device-tablet} {
			width: 130px;
			height: 130px;
		}

		span {
			-webkit-transform: scale(1) translateZ(0);
			transform: scale(1) translateZ(0);

			@media #{$device-tablet} {
				font-size: 16px;
				padding: 0 21px;
			}
		}

		&:active,
		&:focus {
			outline: none;
		}
	}

	.container {
		max-width: 930px;
		margin: 0 auto;
		position: relative;
	}

	.robot {
		width: 253px;
		height: 424px;
		margin: 0 auto;
		perspective: 10000px;
		cursor: pointer;

		@media #{$device-tablet} {
			width: 245px;
			height: 391px;
		}

		@media #{$device-xs-phone} {
			width: 200px;
			height: 316px;
		}

		.key{
			position: absolute;
			display: block;
			width: 80px;
			height: 54px;
			top: 6px;
			left: calc(50% - 44px);

			@media #{$device-tablet} {
				top: 14px;
				width: 71px;
				height: 44px;
				left: calc(50% - 40px);
			}

			@media #{$device-xs-phone} {
				top: 9px;
				width: 56px;
				height: 39px;
				left: calc(50% - 30px);
			}
		}

		.bubble-tryme {
			display: block;
			position: absolute;
			background: url(images/chatbots/try-me.svg) 50% 50% no-repeat;
			background-size: 89px auto;
			width: 91px;
			height: 72px;
			right: -16px;
			top: -2px;

			@media #{$device-tablet} {
				background: url(images/chatbots/try-me.svg) 50% 50% no-repeat;
				background-size: 80px auto;
				right: -15px;
			}

			@media #{$device-xs-phone} {
				width: 81px;
				height: 63;
				background: url(images/chatbots/try-me.svg) 50% 50% no-repeat;
				background-size: 73px auto;
				right: -17px;
				top: -9px;
			}
		}

		.yellow-lamp {
			fill: #F6E003;
		}

		.green-lamp {
			fill: #0BB243;
		}

		&:hover .key {
			-webkit-animation: rotateY 1.3s infinite linear;
			animation: rotateY 1.3s infinite linear;
		}

		&:hover .yellow-lamp {
			-webkit-animation: yellowtogreen 1s steps(2) infinite;
			animation: yellowtogreen 1s steps(2) infinite;
		}

		&:hover .green-lamp {
			-webkit-animation: greentoyellow 3s steps(2) infinite;
			animation: greentoyellow 3s steps(2) infinite;
		}

		@-webkit-keyframes rotateY {
			to { -webkit-transform: rotateY(360deg); }
		}
		@keyframes rotateY {
			to { transform: rotateY(360deg); }
		}

		@-webkit-keyframes yellowtogreen {
			0%   {
				fill: #F6E003;
			}

			100%   {
				fill: #0BB243;
			}
		}

		@keyframes yellowtogreen {
			0%   {
				fill: #F6E003;
			}

			100%   {
				fill: #0BB243;
			}
		}

		@-webkit-keyframes greentoyellow {
			0%   {
				fill: #0BB243;
			}

			100%   {
				fill: #F6E003;
			}
		}

		@keyframes greentoyellow {
			0%   {
				fill: #0BB243;
			}

			100%   {
				fill: #F6E003;
			}
		}

	}

	&__left-bubble-wrapper {
		position: absolute;
		width: 50%;
		display: block;
		left: 0;
		bottom: 0;

		@media #{$device-tablet} {
			bottom: -40px;
		}

		@media #{$device-tablet-766} {
			display: none;
		}

		.img-circle {
			
			&--1 {
				position: absolute;
				left: 0;
				bottom: 80px;

				@media #{$device-tablet} {
					left: 20px;
					bottom: 150px;
				}
			}

			&--2 {
				position: absolute;
				left: 80px;
				bottom: 295px;

				@media #{$device-tablet} {
					left: 80px;
    				bottom: 320px;
				}
			}

			&--3 {
				position: absolute;
				left: 260px;
				bottom: 470px;

				@media #{$device-tablet} {
					left: 215px;
					bottom: 455px;
				}
			}

			&:hover {
				-webkit-transform: scale(1.3);
				transform: scale(1.3);
				
			}

		}
	}

	&__right-bubble-wrapper {
		position: absolute;
		width: 50%;
		display: block;
		right: 0;
		bottom: 0;

		@media #{$device-tablet} {
			bottom: -40px;
		}

		@media #{$device-tablet-766} {
			display: none;
		}

		.img-circle {
			
			&--4 {
				position: absolute;
				right: 0;
				bottom: 80px;

				@media #{$device-tablet} {
					right: 20px;
					bottom: 150px;
				}
			}

			&--5 {
				position: absolute;
				right: 80px;
				bottom: 295px;

				@media #{$device-tablet} {
					right: 80px;
    				bottom: 320px;
				}
			}

			&--6 {
				position: absolute;
				right: 260px;
				bottom: 470px;

				@media #{$device-tablet} {
					right: 215px;
					bottom: 455px;
				}
			}

			&:hover {
				-webkit-transform: scale(1.3);
				transform: scale(1.3);
			}

		}
	}

	a {
		text-decoration: none;
		color: #2b3b49;
	}
}

.clearfix:before,
.clearfix:after {
    content: " "; 
    display: table;
}

.clearfix:after {
    clear: both;
}

@-webkit-keyframes rubberBand {
	from {
	  -webkit-transform: scale3d(1, 1, 1);
	  transform: scale3d(1, 1, 1);
	}
  
	30% {
	  -webkit-transform: scale3d(1.25, 0.75, 1);
	  transform: scale3d(1.25, 0.75, 1);
	}
  
	40% {
	  -webkit-transform: scale3d(0.75, 1.25, 1);
	  transform: scale3d(0.75, 1.25, 1);
	}
  
	50% {
	  -webkit-transform: scale3d(1.15, 0.85, 1);
	  transform: scale3d(1.15, 0.85, 1);
	}
  
	65% {
	  -webkit-transform: scale3d(0.95, 1.05, 1);
	  transform: scale3d(0.95, 1.05, 1);
	}
  
	75% {
	  -webkit-transform: scale3d(1.05, 0.95, 1);
	  transform: scale3d(1.05, 0.95, 1);
	}
  
	to {
	  -webkit-transform: scale3d(1, 1, 1);
	  transform: scale3d(1, 1, 1);
	}
  }
  
  @keyframes rubberBand {
	from {
	  -webkit-transform: scale3d(1, 1, 1);
	  transform: scale3d(1, 1, 1);
	}
  
	30% {
	  -webkit-transform: scale3d(1.25, 0.75, 1);
	  transform: scale3d(1.25, 0.75, 1);
	}
  
	40% {
	  -webkit-transform: scale3d(0.75, 1.25, 1);
	  transform: scale3d(0.75, 1.25, 1);
	}
  
	50% {
	  -webkit-transform: scale3d(1.15, 0.85, 1);
	  transform: scale3d(1.15, 0.85, 1);
	}
  
	65% {
	  -webkit-transform: scale3d(0.95, 1.05, 1);
	  transform: scale3d(0.95, 1.05, 1);
	}
  
	75% {
	  -webkit-transform: scale3d(1.05, 0.95, 1);
	  transform: scale3d(1.05, 0.95, 1);
	}
  
	to {
	  -webkit-transform: scale3d(1, 1, 1);
	  transform: scale3d(1, 1, 1);
	}
  }

  .rubberBand {
	-webkit-animation-name: rubberBand;
	animation-name: rubberBand;
	-webkit-animation-delay: .7s;
	animation-delay: .7s;
	-webkit-animation-duration: 1s;
	animation-duration: 1s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
  }