@import "vendor/normalize";

$color-green: #47c24c;
$color-purple: #8067c3;

$device-desktop: "only screen and (max-width: 1280px)";
$device-tablet: "only screen and (max-width: 860px)";
$device-phone: "only screen and (max-width: 620px)";

html {
	box-sizing: border-box;
}

*, *:before, *:after {
	box-sizing: inherit;
}

body {
	background: #fafafa;
	font-family: 'Lato', 'Helvetica', 'Arial', sans-serif;
	scroll-behavior: smooth;

	.btn {
		display: inline-block;
		color: #fff;
		font-weight: bold;
		text-decoration: none;

		&.btn--small {
			border-radius: 2px;
			padding: 8px 10px;
			font-size: 14px;
		}

		&.btn--medium {
			border-radius: 4px;
			padding: 16px 24px;
			font-size: 18px;
		}

		&.btn--purple {
			background: $color-purple;

			&:hover {
				background: darken($color-purple, 10%);
			}

		}

		&.btn--gray {
			background: #d4d4d4;
			color: #727272;

			&:hover {
				background: darken(#d4d4d4, 10%);
				color: #565656;
			}

		}

	}

}

.app {

}

.header__mobile {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	background: white;
	z-index: 1000;
}

.header__mobile__top {
	display: flex;
	justify-content: space-between;
	padding: 24px;
}

.header__mobile__logo {

	a {
		display: inline-block;
		width: 112px;
		height: 41px;
		background: transparent url('images/bonsai-logo-color.svg') no-repeat center center;
		background-size: 100% 100%;
	}

}

.header__mobile-button-off {
	display: block;
	align-self: center;
	margin: 0;
	width: 32px;
	height: 40px;
	background: transparent url('images/close-mobile-menu.svg') no-repeat center center;
	cursor: pointer;
}

.header__mobile__divider {
	margin: 0 24px;
	position: relative;
	border: none;
	border-top: 1px solid #e4e4e4;
}

.header__mobile__menu {
	padding: 16px 0;

	a {
		display: block;
		padding: 12px 24px;
		color: #2b3b49;
		font-size: 16px;
		font-weight: 600;
		text-decoration: none;
		text-transform: uppercase;
	}

}

.header {
	display: flex;
	max-width: 1280px;
	margin: 0 auto 72px auto;
	position: relative;
	justify-content: space-between;
}

.header__left {
	align-self: center;

	a {
		display: inline-block;
		width: 140px;
		height: 51px;
		background: transparent url('images/bonsai-logo2.svg') no-repeat center center;
		background-size: 100% 100%;
	}

}

.header__right {
	display: flex;
	align-self: center;

	.header__menu {
		align-self: center;

		@media #{$device-phone} {
			display: none;
		}

	}

	a {
		display: inline-block;
		margin: 0 16px;
		color: #fff;
		font-size: 14px;
		font-weight: bold;
		text-decoration: none;
		text-transform: uppercase;
	}

	.header__mobile-button {
		display: none;
		align-self: center;
		margin: 0;
		width: 32px;
		height: 40px;
		background: transparent url('images/hamburger-icon.svg') no-repeat center center;
		cursor: pointer;

		@media #{$device-phone} {
			display: block;
		}

	}
	
}

.hero {
	padding: 48px;
	position: relative;
	background: #26313c;
	background-image: url('images/hero-bg-pattern.png');

	@media #{$device-phone} {
		padding: 24px;
	}

	&::before {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		background-image: radial-gradient(circle at 50% 100%, rgba(62, 79, 95, 0.0), #26313c);
	}
}

.hero__tagline {
	position: relative;

	h1 {
		max-width: 960px;
		margin: 0 auto;
		color: #fff;
		font-size: 48px;
		font-weight: bold;
		text-align: center;
		line-height: 1.5;

		@media #{$device-phone} {
			font-size: 36px;
		}

	}

	p {
		margin: 0 0 24px 0;
		color: #51667a;
		font-size: 17px;
		font-weight: bold;
		text-align: center;
		text-transform: uppercase;
	}

}

.hero__divider {
	max-width: 520px;
	margin: 48px auto;
	position: relative;
	border: none;
	border-top: 1px solid rgba(255,255,255,0.1);
}

.hero__agents {
	max-width: 960px;
	margin: 0 auto;
	position: relative;
	display: flex;
	justify-content: space-between;

	@media #{$device-tablet} {
		flex-direction: column;
		align-items: center;
	}

}

.hero__agents__chat {
	display: flex;
	flex-direction: column;

	.hero__agents__message {
		display: flex;
		margin: 12px 0;
		opacity: 0;
		animation-name: expandOpen;
		-webkit-animation-name: expandOpen;
		animation-duration: 0.5s;
		-webkit-animation-duration: 0.5s;
		animation-timing-function: ease-out;
		-webkit-animation-timing-function: ease-out;
		animation-fill-mode: forwards;
		-webkit-animation-fill-mode: forwards;
		visibility: visible !important;

		&:nth-child(1) {
		}

		&:nth-child(2) {
			animation-delay: 0.3s;
		}

		&:nth-child(3) {
			animation-delay: 0.6s;
		}

		&:nth-child(4) {
			animation-delay: 0.9s;
		}

		&:nth-child(5) {
			animation-delay: 1.2s;
		}

		@keyframes expandOpen {
			0% {
				transform: scale(1.1);
			}
			50% {
				transform: scale(0.95);
				opacity: 1.0;
			}
			100% {
				transform: scale(1);
				opacity: 1.0;
			}
		}

		@-webkit-keyframes expandOpen {
			0% {
				-webkit-transform: scale(1.1);
			}
			50% {
				-webkit-transform: scale(0.95);
				opacity: 1.0;
			}	
			100% {
				-webkit-transform: scale(1);
				opacity: 1.0;
			}
		}

		&.message--green {
			padding-right: 96px;

			@media #{$device-tablet} {
				padding-right: 48px;
			}

			.hero__agents__bubble {
				background: $color-green;
			}

			p {
				color: #fff;
			}
		}

		&.message--white {
			padding-left: 96px;
			align-self: flex-end;

			@media #{$device-tablet} {
				padding-left: 48px;
			}

			.hero__agents__bubble {
				background: #fff;
			}

			p {
				color: #2b3b49;
			}

		}

	}

	.hero__agents__avatar {
		width: 40px;
		height: 40px;
		border-radius: 100%;
		flex-shrink: 0;

		&.avatar--robot {
			margin-right: 8px;
			background: transparent url('images/chat-bot-avatar@2x.png') no-repeat center center;
			background-size: 100% 100%;
		}

		&.avatar--person {
			margin-left: 8px;
			background: transparent url('images/user-avatar@2x.jpg') no-repeat center center;
			background-size: 100% 100%;
		}


	}

	.hero__agents__bubble {
		max-width: 272px;
		padding: 12px 16px;
		border-radius: 4px;
		box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.25);

		p {
			margin: 0;
			color: #2b3b49;
			font-size: 15px;
			line-height: 1.4;
		}

	}

}

.hero__agents__arrow {
	width: 80px;
	background: transparent url('images/hero-arrow.svg') no-repeat center center;

	@media #{$device-tablet} {
		width: 100%;
		height: 80px;
		background: transparent url('images/hero-arrow-down.svg') no-repeat center center;
	}

}

.hero__agents__cta {
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;

	h2 {
		margin: 0 0 16px 0;
		color: #fff;
		font-size: 40px;
		font-weight: bold;
	}

	p {
		margin: 0 0 40px 0;
		color: rgba(255, 255, 255, 0.75);
		font-size: 18px;
	}

	a {
		align-self: center;
	}
	
}

.testimonials {
	width: 820px;
	margin: 64px auto;

	@media #{$device-tablet} {
		width: 90%;
	}

	@media #{$device-phone} {
		margin: 64px auto 0 auto;
	}

}

.testimonials__carousel {
	display: flex;
}

.testimonials__arrow-left,
.testimonials__arrow-right {
	display: inline-block;
	flex-shrink: 0;
	align-self: center;
	width: 14px;
	height: 24px;
	cursor: pointer;

	@media #{$device-phone} {
		display: none;
	}

}

.testimonials__arrow-left {
	margin-right: 24px;
	background: transparent url('images/slider-arrow-left.svg') no-repeat center center;
}

.testimonials__arrow-right {
	margin-left: 24px;
	background: transparent url('images/slider-arrow-right.svg') no-repeat center center;
}

.testimonials__wrapper {
	flex-grow: 2;
	border-radius: 8px;
	background: #fff;
	box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.15);

	.testimonial {
		align-self: center;
		padding: 40px;
		text-align: center;

		.testimonial__text {
			color: #4e5f6f;
			font-size: 21px;
			line-height: 1.5;
		}

		.testimonial__person {
			color: #848e99;
			font-size: 16px;

			img {
				display: inline-block;
				width: 32px;
				height: 32px;
				margin-right: 8px;
				position: relative;
				top: 10px;
				border-radius: 100%;
			}

		}

	}

}

.testimonials__pagination {
	padding: 24px;
	text-align: center;
	cursor: default;
}

.testimonials__pagination__item {
	display: inline-block;
	width: 8px;
	height: 8px;
	margin: 4px;
	border-radius: 100%;
	background: #c3d1de;
	cursor: pointer;
	transition: all 0.1s ease;

	&:hover {
		background: darken(#c3d1de, 20%);
	}

	&.item--active {
		width: 16px;
		border-radius: 6px;
		background: $color-green;
	}

}

.products {
	max-width: 1280px;
	margin: 0 auto;
	padding: 32px 0 64px 0;

	h2 {
		color: #2b3b49;
		font-size: 32px;
		text-align: center;
	}

}

.products__list {
	display: flex;

	@media #{$device-tablet} {
		flex-direction: column;
	}

	.product {
		display: flex;
		flex-direction: column;
		flex-grow: 1;
		flex-basis: 0;
		justify-content: space-between;
		margin: 12px;
		padding: 24px;
		border-radius: 8px;
		box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.15);
		background: #fff;
		text-align: center;

		@media #{$device-tablet} {
			flex-grow: 0;
			flex-basis: auto;
		}

		img {
			margin-bottom: 24px;
		}

		h3 {
			margin: 0 0 8px 0;
			color: #2b3b49;
			font-size: 18px;
			font-weight: bold;
		}

		p {
			margin: 0 0 24px 0;
			color: #4e5f6f;
			font-size: 16px;
			line-height: 1.5;
		}

		a {
			align-self: center;
		}

	}

}

.footer {
	position: relative;
	padding: 40px 64px;
	background: #282237;
	background-image: url('images/footer-bg-pattern.png');

	@media #{$device-tablet} {
		padding: 20px 32px;
	}

	&::before {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		background-image: radial-gradient(circle at 50% 100%, rgba(40, 34, 55, 0.0), #282237);
	}
}

.footer__divider {
	position: relative;
	max-width: 520px;
	border: none;
	border-top: 1px solid rgba(255,255,255,0.1);
}

.footer__cta {
	position: relative;
	padding-bottom: 48px;
	color: #fff;
	text-align: center;

	h3 {
		margin-bottom: 40px;
		font-size: 28px;
		font-style: italic;
		font-weight: bold;
		line-height: 1.5;
	}

	a {
		cursor: pointer;
	}
}

.footer__information {
	position: relative;
	padding-top: 24px;
	color: #fff;

	.footer__block {
		text-align: center;

		.icon--google-maps {
			display: inline-block;
			width: 20px;
			height: 20px;
			margin-right: 4px;
			position: relative;
			top: 2px;
			background: transparent url('images/google-maps-icon.svg') no-repeat center center;
		}

		h4 {
			font-size: 18px;
			line-height: 1.5;
		}

		p {
			color: rgba(#fff, 0.5);
			font-size: 16px;
			line-height: 1.5;

			strong {
				color: #fff;
			}

		}

	}

}

.footer__links {
	text-align: center;

	.icon {
		display: inline-block;
		width: 20px;
		height: 20px;
		margin: 8px;
	}

	.icon--github {
		background: transparent url('images/github.svg') no-repeat center center;
	}

	.icon--linkedin {
		background: transparent url('images/linkedin.svg') no-repeat center center;
	}

}

.modal-overlay {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	background: rgba(0,0,0,0.5);
	z-index: 20;
}

.contact-modal {
	display: none;
	width: 480px;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	padding: 40px;
	border-radius: 12px;
	z-index: 100;
	background: white;
	text-align: center;

	h2 {
		margin: 0 0 32px 0;
		padding: 0;
		color: #2b3b49;
		font-size: 32px;
		text-align: center;
	}

}

.contact-modal__form {
	margin-bottom: 32px;

	form {
		display: flex;
		flex-direction: column;
	}

	input, textarea {
		display: block;
		margin: 8px 0;
		padding: 12px;
		border: 1px solid #d4d4d4;
		border-radius: 3px;
		font-family: 'Lato', 'Helvetica', 'Arial', sans-serif;
		font-size: 15px;
		outline: none;

		&:focus {
			border: 1px solid $color-purple;
			box-shadow: 0 0 4px 0 rgba($color-purple, 0.5);
		}

	}

	textarea {
		height: 80px;
		resize: none;
	}

}

.contact-modal__actions {
	display: flex;
	justify-content: center;

	a {
		margin: 0 8px;
		cursor: pointer;
	}

}
