<!DOCTYPE html>
<html lang="en">
<head>
	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-112580401-1"></script>
	<script>
		window.dataLayer = window.dataLayer || [];
		function gtag(){dataLayer.push(arguments);}
		gtag('js', new Date());

		gtag('config', 'UA-112580401-1');
	</script>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=no">
	<title>BonsAI d.o.o.</title>
	<link href="https://fonts.googleapis.com/css?family=Lato:400,400i,700,700i" rel="stylesheet">
	<link rel="stylesheet" media="screen" type="text/css" href="application.min.css">
	<link rel="apple-touch-icon" sizes="180x180" href="/images/favicon/apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="32x32" href="/images/favicon/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="/images/favicon/favicon-16x16.png">
	<link rel="manifest" href="/images/favicon/manifest.json">
	<link rel="mask-icon" href="/images/favicon/safari-pinned-tab.svg" color="#5bbad5">
	<meta name="theme-color" content="#ffffff">
</head>
<body>
	<div class="app">

		<div class="hero" style="height:100vh;">

			<div class="hero__tagline">
        <% if(error.status == 404) { %>
          <h1>Page not found!</h1>
        <% } %>
        <% if(error.status != 404) { %>
          <h1>Internal server error!</h1>
        <% } %>
          

			</div>
			<hr class="hero__divider">
    </div>
    
		<div class="testimonials" style="display: none;">
			<div class="testimonials__carousel">
				<div class="testimonials__wrapper">
				</div>
			</div>
    </div>
    
  </div>
  
	<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
	<script type="text/javascript" src="./javascript/siema.min.js"></script>
	<script type="text/javascript" src="./javascript/sweetalert.min.js"></script>
	<script type="text/javascript" src="./javascript/application.js"></script>
</body>
</html>