<!DOCTYPE html>
<html lang="en">

<head>
	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-112580401-1"></script>
	<script>
		window.dataLayer = window.dataLayer || [];
		function gtag() { dataLayer.push(arguments); }
		gtag('js', new Date());

		gtag('config', 'UA-112580401-1');
	</script>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=no">
	<title>BonsAI d.o.o.</title>
	<link href="https://fonts.googleapis.com/css?family=Lato:400,400i,700,700i" rel="stylesheet">
	<link rel="stylesheet" media="screen" type="text/css" href="application.min.css">
	<link rel="apple-touch-icon" sizes="180x180" href="/images/favicon/apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="32x32" href="/images/favicon/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="/images/favicon/favicon-16x16.png">
	<link rel="manifest" href="/images/favicon/manifest.json">
	<link rel="mask-icon" href="/images/favicon/safari-pinned-tab.svg" color="#5bbad5">
	<meta name="theme-color" content="#ffffff">
</head>

<body>
	<div class="app">
		<div class="header__mobile">
			<div class="header__mobile__top">
				<div class="header__mobile__logo">
					<a href="#"></a>
				</div>
				<a class="header__mobile-button-off" data-action="toggle-mobile-menu"></a>
			</div>
			<hr class="header__mobile__divider">
			<div class="header__mobile__menu">
				<a href="#products" data-action="toggle-mobile-menu">Products</a>
				<a href="https://blog.bonsai.tech">Blog</a>
				<a href="#contact" data-action="toggle-mobile-menu">Contact</a>
			</div>
		</div>
		<div class="hero">
			<header class="header">
				<div class="header__left">
					<a href="#"></a>
				</div>
				<div class="header__right">
					<div class="header__menu">
						<a href="#products">Products</a>
						<a href="https://blog.bonsai.tech">Blog</a>
						<!-- <a href="#contact">Contact</a> -->
						<a href="#contact" onclick="showContactForm()">Contact</a>
					</div>
					<a class="header__mobile-button" data-action="toggle-mobile-menu"></a>
				</div>
			</header>
			<div class="hero__tagline">
				<p>Make use of AI in your business</p>
				<h1>Let people do what they do best, leave the boring and repetitive work to AI</h1>
			</div>
			<hr class="hero__divider">
			<div class="hero__agents">
				<div class="hero__agents__chat">
					<div class="hero__agents__message message--green">
						<div class="hero__agents__avatar avatar--robot"></div>
						<div class="hero__agents__bubble">
							<p>Hi, how can I help you?</p>
						</div>
					</div>
					<div class="hero__agents__message message--white">
						<div class="hero__agents__bubble">
							<p>Hi, I have a horrible toothache. ☹ Can you please book me an appointment with the dentist?</p>
						</div>
						<div class="hero__agents__avatar avatar--person"></div>
					</div>
					<div class="hero__agents__message message--green">
						<div class="hero__agents__avatar avatar--robot"></div>
						<div class="hero__agents__bubble">
							<p>Oh, I'm sorry to hear that. How about tomorrow at 4PM?</p>
						</div>
					</div>
					<div class="hero__agents__message message--white">
						<div class="hero__agents__bubble">
							<p>YES! Thank you! 😄🙏🎆</p>
						</div>
						<div class="hero__agents__avatar avatar--person"></div>
					</div>
					<div class="hero__agents__message message--green">
						<div class="hero__agents__avatar avatar--robot"></div>
						<div class="hero__agents__bubble">
							<p>Your appointment is booked. Hope you feel well soon.</p>
						</div>
					</div>
				</div>
				<div class="hero__agents__arrow"></div>
				<div class="hero__agents__cta">
					<h2>Intelligent Chat Agents</h2>
					<p>Increase customer service efficiency by up to 53%</p>
				</div>
			</div>
		</div>
		<div class="testimonials">
			<div class="testimonials__carousel">
				<a class="testimonials__arrow-left" data-action="testimonials-slide" data-direction="prev"></a>
				<div class="testimonials__wrapper">
					<div class="testimonial">
						<p class="testimonial__text">&ldquo;
							<a class="testimonial_link" href="https://span.eu/en/customer-experience/">MIA</a>,
							<a class="testimonial_link" href="https://span.eu/karijere/zasto-span/">Daria</a> &amp;
							<a class="testimonial_link" href="https://span.eu/cybersecurity/">Ben</a>! These 3 chatbots made our landing pages smarter and helped us generate more leads. Now, people can talk to
							us 24/7. In the future, we hope to have more AI kids with the BonsAI team.&rdquo;</p>
						<p class="testimonial__person">
							<img src="./images/testimonial-dino.png" alt="Gartner"> Dino Oreški, Digital Marketing Manager, Span</p>
					</div>
					<div class="testimonial">
						<p class="testimonial__text">&ldquo;Artificial intelligence would be the ultimate version of Google. The ultimate search engine that would understand
							everything on the web.&rdquo;</p>
						<p class="testimonial__person">
							<img src="./images/testimonial-larry-page.png" alt="Larry Page"> Larry Page</p>
					</div>
					<div class="testimonial">
						<p class="testimonial__text">&ldquo;The average person will have more conversations with bots than with their spouse.&rdquo;</p>
						<p class="testimonial__person">
							<img src="./images/testimonial-starfishmint.png" alt="StarFishMint"> StarFishMint</p>
					</div>
				</div>
				<a class="testimonials__arrow-right" data-action="testimonials-slide" data-direction="next"></a>
			</div>
			<div class="testimonials__pagination">
				<a class="testimonials__pagination__item item--active" data-index="0"></a>
				<a class="testimonials__pagination__item" data-index="1"></a>
				<a class="testimonials__pagination__item" data-index="2"></a>
			</div>
		</div>
		<div id="products" class="products">
			<h2>Our Products</h2>
			<div class="products__list">
				<div class="product">
					<img src="./images/chat-bots-icon-green.svg" alt="">
					<h3>Chatbots</h3>
					<p>Create intelligent agents to adress your customer needs.</p>
					<a href="/chatbots" class="btn btn--small btn--purple">Find out more</a>
				</div>
				<div class="product">
					<img src="./images/verify-signatures-icon.svg" alt="">
					<h3>Verify Signatures</h3>
					<p>Automate signature verification process in a company.</p>
					<a href="#" class="btn btn--small btn--gray">Coming soon</a>
				</div>
				<div class="product">
					<img src="./images/identify-people-icon.svg" alt="">
					<h3>Identify People</h3>
					<p>Use automated image recognition to identify people in photo and video.</p>
					<a href="#" class="btn btn--small btn--gray">Coming soon</a>
				</div>
				<div class="product">
					<img src="./images/licence-plates-icon.svg" alt="">
					<h3>Identify License Plates</h3>
					<p>Read licence plates and integrate that information in your system.</p>
					<a href="#" class="btn btn--small btn--gray">Coming soon</a>
				</div>
			</div>
		</div>
		<footer id="contact" class="footer">
			<div class="footer__cta">
				<h3>Looking for AI solutions or just want to chat about AI?</h3>
				<a class="btn btn--medium btn--purple" data-action="show-contact-form">Contact Us</a>
			</div>
			<hr class="footer__divider">
			<div class="footer__information">
				<div class="footer__block" style="margin-bottom: 40px;">
					<h4>BonsAI d.o.o. za dizajn i implementaciju inteligentnih informacijskih sustava</h4>
					<p style="color: #fff;">
						<a href="https://www.google.com/maps/place/Kotura%C5%A1ka+ul.+47,+10000,+Zagreb/@45.8026988,15.9650577,16.25z/data=!4m5!3m4!1s0x4765d6f1a8a6e39b:0x24b88305bcba39bd!8m2!3d45.8029028!4d15.9688703?hl=en"
						 target="_blank" class="icon icon--google-maps" title="Location"></a> Koturaška 47, 10 000 Zagreb</p>
				</div>
				<div class="footer__block">
					<p>
						<strong>Company OIB/Tax No.:</strong> HR81255473305</p>
					<p>
						<strong>Members of the Board:</strong> Nikola Dujmović, Slaven Mišak</p>
					<p>
						<strong>Amount of share capital:</strong> 500,000 HRK (paid in full)</p>
				</div>
				<div class="footer__block">
					<p>
						<strong>Bank account:</strong> Zagrebačka banka d.d.</p>
					<p>
						<strong>IBAN:</strong> HR9223600001102617114</p>
				</div>
				<div class="footer__links">
					<a href="https://github.com/bonsaihr" target="_blank" class="icon icon--github" title="Github"></a>
					<a href="https://www.linkedin.com/company/bonsai-d.o.o./" target="_blank" class="icon icon--linkedin" title="LinkedIn"></a>
				</div>
				<div class="footer__span">
					<a href="https://span.eu/" target="_blank">
						<img src="/images/Span-logo-1-RGB-negativ.png" alt="span.eu">
					</a>
				</div>
			</div>
		</footer>
	</div>
	<div class="modal-overlay"></div>
	<div class="contact-modal">
		<h2>👋 Keep in touch!</h2>
		<div class="contact-modal__form">
			<form id="contact-form">
				<input type="text" id="form-name" placeholder="Name" required>
				<input type="email" id="form-email" placeholder="Email" required>
				<input type="text" id="form-subject" placeholder="Subject" required>
				<textarea id="form-message" placeholder="Message" required></textarea>
			</form>
		</div>
		<div class="contact-modal__actions">
			<a class="btn btn--medium btn--purple" data-action="submit-contact-form">Send</a>
			<a class="btn btn--medium btn--gray" data-action="hide-contact-form">Cancel</a>
		</div>
	</div>
	<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
	 crossorigin="anonymous"></script>
	<script type="text/javascript" src="./javascript/siema.min.js"></script>
	<script type="text/javascript" src="./javascript/sweetalert.min.js"></script>
	<script type="text/javascript" src="./javascript/application.js"></script>
</body>

</html>