* {
  margin:0;
  padding:0;

}

.main_container {
  margin: 0 auto;
  width: 1280px;
  position: relative;
}

.Rectangle-1 {
  width: 1280px;
  height: 934px;
  background-color: #243545;
  background-image: url("../img/hero-bg-pattern.png"), radial-gradient(circle at 50% 100%, rgba(62, 79, 95, 0), #26313c);
}

.Rectangle-19 {
  width: 1280px;
  height: 1006px;
  background-color: #fafafa;
  box-shadow: 0 -4px 8px 0 rgba(0, 0, 0, 0.1);
}

.HOME {
  text-decoration: none;
  font-family: Lato;
  font-size: 14px;
  font-weight: 900;
  text-align: right;
  color: #ffffff;
}

.PRODUCTS {
  text-decoration: none;
  font-family: Lato;
  font-size: 14px;
  font-weight: 900;
  text-align: right;
  color: #ffffff;
}

.CONTACT {
  text-decoration: none;
  font-family: Lato;
  font-size: 14px;
  font-weight: 900;
  text-align: right;
  color: #ffffff;
}

.BLOG {
  text-decoration: none;
  font-family: Lato;
  font-size: 14px;
  font-weight: 900;
  text-align: right;
  color: #ffffff;
}

.bonsai-logo {
  object-fit: contain;

  position:absolute;
  left:48px;
  top:32px;

  float:left; 
}

li {
  display: inline;
  position:relative;
  left:900px;
  top:44px;
}

.MAKE-USE-OF-AI-IN-YO {
  font-family: Lato;
  font-size: 17px;
  font-weight: bold;
  text-align: center;
  color: #51667a; 
}

.Let-people-do-what-t {
  font-family: Lato;
  font-size: 48px;
  font-weight: bold;
  line-height: 1.33;
  text-align: center;
  color: #ffffff;
}

.Rectangle-25 {
  width: 640px;
  height: 1px;
  background-color: rgba(255, 255, 255, 0.1);

  position:absolute;
  top:365px;
  left:320px;
}

.tekst_div {
  position:absolute;
  left:180px;
  top:140px;
}

.Increase-customer-se {
  font-family: Lato;
  font-size: 18px;
  text-align: center;
  color: rgba(255, 255, 255, 0.75);
}

.Intelligent-Chat-Age {
  font-family: Lato;
  font-size: 40px;
  font-weight: bold;
  text-align: center;
  color: #ffffff;
}

.chat_agents_div {
  position:absolute;
  left:692px;
  top:559px;
  text-align:center;
}

.btn1 {
  border-radius: 4px;
  background-color: #8067c3;
  font-family: Lato;
  font-size: 16px;
  font-weight: bold;
  text-align: left;
  color: #ffffff;
  border: none;
  text-align: center;
  text-decoration: none;
  cursor: pointer;

  width:125px;
  height:43px;
}

.hero-arrow {
  width: 20px;
  height: 40px;
  object-fit: contain;
  border-radius: 3px;
  position:absolute;
  left:624px;
  top:612px; 
}

.chat_div {
  width:0%;
  position:relative;
  left:176px;
  top:430px;
}

.slider-arrow-left {
  object-fit: contain;
  position:absolute;
  left:194px;
  top:1122px;

  cursor: pointer;
}

.slider-arrow-right {
  object-fit: contain;
  position:absolute;
  left:1072px;
  top:1122px;

  cursor: pointer;
}

.Artificial-intellig {
  padding:40px;
  font-family: Lato;
  font-size: 21px;
  font-weight: 500;
  line-height: 1.52;
  text-align: center;
  color: #4e5f6f;
}

.quote_div, .quote_div_hidden {
  width: 800px;
  height: 200px;
  border-radius: 8px;
  background-color: #ffffff;
  box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.15);
  position:absolute;
  top:1034px;
  left:240px;

  overflow: hidden;
}

.quote_div_hidden {
  display: none;
}



.larry_img{
  vertical-align:middle;
}

.Larry-Page {
  font-family: Lato;
  font-size: 16px;
  font-weight: 600;
  color: #848e99;
}

.icon_and_name {
  display: table;
  margin: 0 auto;
}

.Our-Products {
  font-family: Lato;
  font-size: 32px;
  font-weight: bold;
  text-align: left;
  color: #2b3b49;

  position:absolute;
  left:544px;
  top:1384px;
}

.Single_product_div {
  width: 278px;
  height: 297px;
  border-radius: 8px;
  background-color: #ffffff;
  box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.15);
  margin-left: 15px;
  margin-right: 15px;
  float:left;

  text-align: center;
}

.Products_container_div {
  display: flex;
  width: 100%;
  justify-content: center;
  position: absolute;
  top:1463px;
}

.product_name {
  font-family: Lato;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  color: #2b3b49;

  padding:10px;
}

.product_description {
  font-family: Lato;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  color: #4e5f6f;

  padding:10px;
  padding-top:5px;
}

.prod_img_div {
  height:50%;
  display:flex;
  align-items: center;
  justify-content: center;
}

.Looking-for-AI-solut {
  font-family: Lato;
  font-size: 28px;
  font-weight: bold;
  font-style: italic;
  text-align: center;
  color: #ffffff;

  position:absolute;
  top:1984px;
  left:330px;
}

.btn2 {
  border-radius: 4px;
  background-color: #8067c3;
  font-family: Lato;
  font-size: 18px;
  font-weight: bold;
  text-align: left;
  color: #ffffff;
  border: none;
  text-align: center;
  text-decoration: none;
  cursor: pointer;

  position:absolute;
  left:572px;
  top:2058px;

  width:137px;
  height:54px;
}

.Rectangle-25a {
  width: 520px;
  height: 1px;
  background-color: rgba(255, 255, 255, 0.1);

  position:absolute;
  top:2176px;
  left:384px;
}

.footer_tekst_div {
  position: absolute;
  top:2241px;
  width:100%;
}

.BonsAI-doo-za-diz {
  font-family: Lato;
  font-size: 18px;
  font-weight: bold;
  text-align: left;
  color: #ffffff;
  text-align: center;
}

.Koturaka-47-10-000 {
  font-family: Lato;
  font-size: 16px;
  text-align: left;
  color: #ffffff;
  text-align: center;
}

.Footer_tekst_style {
  font-family: Lato;
  font-size: 16px;
  font-weight: bold;
  text-align: left;
  color: #ffffff;

  text-align: center;
}

.Footer_tekst_style span {
  font-weight: normal;
  color: rgba(255, 255, 255, 0.5);
}

.info_links_div {
  display:flex;
  justify-content: center;
}

.footer_div_size {
  height: 750px;
  background-color: #282237;
  background-image: url("../img/footer-bg-pattern.png"), radial-gradient(circle at 50% 100%, rgba(40, 34, 55, 0), #282237);

  border-radius: 60% 60% 0 0 / 5% ;
  z-index: 1;
  margin-top: -40px;
}

#backtothetop {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 280px;
  z-index: 99;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 7px;

  border-radius: 4px;
  background-color: #8067c3;
  font-family: Lato;
  font-size: 16px;
  font-weight: bold;
  text-align: left;
  color: #ffffff;
  border: none;
  text-align: center;
  text-decoration: none;
}

.chat_div2 {
  width:32%;
  position:relative;
  left:176px;
  top:430px;
}

.robot_tekst {
  font-family: Lato;
  font-size: 15px;
  font-weight: bold;
  line-height: 1.4;
  text-align: left;
  color: #ffffff;

  border-radius: 4px;
  background-color: #47c24c;
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.25);

  padding:10px;

  max-width: 250px;
}

.customer_tekst {
  border-radius: 4px;
  background-color: #ffffff;
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.25); 

  font-family: Lato;
  font-size: 15px;
  font-weight: 600;
  line-height: 1.4;
  text-align: left;
  color: #2b3b49;

  padding:10px;

  max-width: 250px;
}

.robot_response, .customer_response {
  width:100%;
  opacity: 0;
}

.robot_icon {
  float:left;
  margin-right: 10px;
}

.robot_msg {
  float:left;
}

.customer_icon {
  float:right;
  margin-left: 10px;
}

.customer_msg {
  float:right;
}

.customer_response, .robot_response{
  overflow:auto; 
  padding-bottom: 25px;
}

@keyframes chat_animation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

#msg_1 {
  animation: chat_animation 1.5s 0s both;
}

#msg_2 {
  animation: chat_animation 1.5s 1.5s both;
}

#msg_3 {
  animation: chat_animation 1.5s 3s both;
}

#msg_4 {
  animation: chat_animation 1.5s 4.5s both;
}

#msg_5 {
  animation: chat_animation 1.5s 6s both;
}


/* POP UP */
#contactForm_div { 
  display: none;
  z-index: 1;

  box-shadow: 0 0 30px;
  padding: 2em;
  width: 400px;
  text-align: center;
  background: #fff;
  position: fixed;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
  -webkit-transform: translate(-50%,-50%);

  background-color: #243545;
  background-image: url("../img/footer-bg-pattern.png"), radial-gradient(circle at 50% 100%, rgba(62, 79, 95, 0), #26313c);
  
}

.keep-in-touch {
  font-family: Lato;
  font-size: 26px;
  font-weight: bold;
  text-align: left;
  color: #ffffff;
  text-align: center;
}

.form_tekst { 
  margin: .8em auto;

  font-family: Lato;
  font-weight: bold;
  text-align: left;
  
  display: block; 
  width: 280px; 
  padding: .4em;
}

.form_area { 
  height: 100px; 
  resize: none; 
}

.PopFormButtons { 
  width: 140px;
  display: inline-block;

  border-radius: 4px;
  background-color: #8067c3;
  font-family: Lato;
  font-size: 16px;
  font-weight: bold;
  text-align: left;
  color: #ffffff;
  border: none;
  text-align: center;
  text-decoration: none;
  cursor: pointer;

  padding: .4em;
}

/*  Curved header */
.header_curved {
  border-radius: 0 0 50% 50% / 4% ;
  z-index: 1;
  position: relative;
  margin-bottom: -40px;
}

/* Curson on linkedin and github icons */
.github, .linkedin{
  cursor: pointer;
}

.grey_dot {
  width: 6px;
  height: 6px;
  object-fit: contain;
  border-radius: 100px;
  background-color: #c3d1de;
  margin:3px;
}

.green_dot {
  width: 12px;
  height: 6px;
  object-fit: contain;
  border-radius: 100px;
  background-color: #47c24c;
  margin:3px;
}

.dot_container {
  width:60px;
  margin: 0 auto;
  display: flex;

  position:absolute;
  left:610px;
  top:1258px;
}