* {
    margin:0;
    padding:0;
}

.main_container {
    margin: 0 auto;
    width: 100%;
    position: relative;
}

.Rectangle-1 {
    padding: 24px;

    width: 100%;
    height: 1013px;
    background-color: #243545;
    background-image: url("../img/hero-bg-pattern.png"), radial-gradient(circle at 50% 100%, rgba(62, 79, 95, 0), #26313c);
}

ul {
    display: none;
}

.MAKE-USE-OF-AI-IN-YO {
    font-family: Lato;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    color: #51667a; 
}
  
  .Let-people-do-what-t {
    font-family: Lato;
    font-size: 26px;
    font-weight: bold;
    line-height: 1.33;
    text-align: center;
    color: #ffffff;
}

.tekst_div {
    margin-top: 40px;
}

.remove_br {
    display: none;
}

.Rectangle-25 {
    margin-top: 40px;
    margin-bottom: 40px;
    margin-left: 15%;
    margin-right: 15%;
    width: 70%;
    height: 1px;
    background-color: rgba(255, 255, 255, 0.1);
}

.chat_div2 {
    width:100%;
    position:relative;
}

.robot_response, .customer_response {
    width:100%;
    overflow:auto; 
    padding-bottom: 15px;
    opacity: 0;
}

.robot_tekst {
    font-family: Lato;
    font-size: 15px;
    font-weight: bold;
    line-height: 1.4;
    text-align: left;
    color: #ffffff;
  
    border-radius: 4px;
    background-color: #47c24c;
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.25);
  
    padding:10px;
    max-width: 60%;
}
  
  .customer_tekst {
    border-radius: 4px;
    background-color: #ffffff;
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.25); 
  
    font-family: Lato;
    font-size: 15px;
    font-weight: 600;
    line-height: 1.4;
    text-align: left;
    color: #2b3b49;
  
    padding:10px;
}

.robot_icon {
    float:left;
    margin-right: 10px;
}
  
.robot_msg {
    margin-left: 15%;
  }

.customer_icon {
    float:right;
    margin-left: 10px;
}
  
.customer_msg {
    margin-right: 15%;
    margin-left: 25%;
}

.hero-arrow {
    transform: rotate(90deg);
    display:block;
    margin:auto;
}

.arrow_div{
    margin: 20px;
}

.chat_agents_div {
    text-align:center;
}

.Increase-customer-se {
    font-family: Lato;
    font-size: 18px;
    line-height: 1.5;
    text-align: center;
    color: rgba(255, 255, 255, 0.75);
    padding:20px;
}
  
.Intelligent-Chat-Age {
    font-family: Lato;
    font-size: 21px;
    font-weight: bold;
    text-align: center;
    color: #ffffff;
}

.btn1 {
    border-radius: 4px;
    background-color: #8067c3;
    font-family: Lato;
    font-size: 16px;
    font-weight: bold;
    text-align: left;
    color: #ffffff;
    border: none;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    padding:10px;
}

.slider-arrow-right, .slider-arrow-left {
    display: none;
}

.Rectangle-19 {
    width: 100%;
    height: 1580px;
    padding: 24px;
    background-color: #fafafa;
    box-shadow: 0 -4px 8px 0 rgba(0, 0, 0, 0.1);
}


.quote_div, .quote_div_hidden {
    width: 90%;
    height: 200px;
    margin: 5%;
    margin-top: 10%;
    border-radius: 8px;
    background-color: #ffffff;
    box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.15);
  
    overflow: hidden;
  }
  
.quote_div_hidden {
    display: none;
  }

.Artificial-intellig {
    padding:20px;
    font-family: Lato;
    font-size: 18px;
    font-weight: 500;
    line-height: 1.5;
    text-align: center;
    color: #4e5f6f;
  }

.larry_img{
    vertical-align:middle;
  }

.Larry-Page {
    font-family: Lato;
    font-size: 16px;
    font-weight: 600;
    color: #848e99;
  }
  
.icon_and_name {
    display: table;
    margin: 0 auto;
    margin-bottom: 25px;
  }

.grey_dot {
    width: 6px;
    height: 6px;
    object-fit: contain;
    border-radius: 100px;
    background-color: #c3d1de;
    margin:3px;
  }
  
.green_dot {
    width: 12px;
    height: 6px;
    object-fit: contain;
    border-radius: 100px;
    background-color: #47c24c;
    margin:3px;
  }
  
.dot_container {
    width:60px;
    margin: 0 auto;
    display: flex;
  }

.Our-Products {
    padding-top: 60px;
    padding-bottom: 20px;
    font-family: Lato;
    font-size: 32px;
    font-weight: bold;
    text-align: center;
    color: #2b3b49;
  }

.Single_product_div {
    width: 80%;
    margin: 10%;
    border-radius: 8px;
    background-color: #ffffff;
    box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.15);
  
    text-align: center;
  }

.product_name {
    font-family: Lato;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    color: #2b3b49;
  
    padding:10px;
  }
  
.product_description {
    font-family: Lato;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    color: #4e5f6f;
  
    padding:30px;
    padding-top:5px;
  }

.prod_img_div {
    padding-top: 30px;
    padding-bottom: 10px;
}

.footer_div_size {
    height: 660px;
    background-color: #282237;
    background-image: url("../img/footer-bg-pattern.png"), radial-gradient(circle at 50% 100%, rgba(40, 34, 55, 0), #282237);
    text-align:center;

    border-radius: 60% 60% 0 0 / 2% ;
    z-index: 1;
    margin-top: -25px;
}

.Looking-for-AI-solut {
    font-family: Lato;
    font-size: 26px;
    font-weight: bold;
    font-style: italic;
    text-align: center;
    color: #ffffff;

    padding-top:40px;
    padding-bottom:30px;
  }

.btn2 {
    border-radius: 4px;
    background-color: #8067c3;
    font-family: Lato;
    font-size: 18px;
    font-weight: bold;
    text-align: left;
    color: #ffffff;
    border: none;
    text-align: center;
    text-decoration: none;
    cursor: pointer;

    padding:15px;
  }

#contactForm_div {
    display: none;
    overflow: hidden;
}

.Rectangle-25a {
    margin-top: 40px;
    margin-bottom: 40px;
    margin-left: 15%;
    margin-right: 15%;
    width: 70%;
    height: 1px;
    background-color: rgba(255, 255, 255, 0.1);
}

.BonsAI-doo-za-diz {
    font-family: Lato;
    font-size: 18px;
    font-weight: bold;
    line-height: 1.5;
    text-align: center;
    color: #ffffff;
  }

.Koturaka-47-10-000 {
    font-family: Lato;
    font-size: 16px;
    text-align: left;
    color: #ffffff;
    text-align: center;
  }

.Footer_tekst_style {
    font-family: Lato;
    font-size: 14px;
    font-weight: bold;
    text-align: left;
    color: #ffffff;
  
    text-align: center;
  }

.Footer_tekst_style span {
    font-weight: normal;
    color: rgba(255, 255, 255, 0.5);
  }

  #contactForm_div { 
    display: none;
    z-index: 1;
  
    box-shadow: 0 0 30px;
    padding: 2em;
    width: 100%;
    text-align: center;
    background: #fff;
    position: fixed;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
  
    background-color: #243545;
    background-image: url("../img/footer-bg-pattern.png"), radial-gradient(circle at 50% 100%, rgba(62, 79, 95, 0), #26313c);
    
  }

  .keep-in-touch {
    font-family: Lato;
    font-size: 26px;
    font-weight: bold;
    text-align: left;
    color: #ffffff;
    text-align: center;
  }
  
  .form_tekst { 
    margin: .8em auto;
  
    font-family: Lato;
    font-weight: bold;
    text-align: left;
    
    display: block; 
    width: 80%; 
    padding: .4em;
  }
  
  .form_area { 
    height: 130px; 
    resize: none; 
  }
  
  .PopFormButtons { 
    width: 25%;
    display: inline-block;
  
    border-radius: 4px;
    background-color: #8067c3;
    font-family: Lato;
    font-size: 16px;
    font-weight: bold;
    text-align: left;
    color: #ffffff;
    border: none;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
  
    padding: .4em;
  }




@keyframes chat_animation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

#msg_1 {
  animation: chat_animation 1.5s 0s both;
}

#msg_2 {
  animation: chat_animation 1.5s 1.5s both;
}

#msg_3 {
  animation: chat_animation 1.5s 3s both;
}

#msg_4 {
  animation: chat_animation 1.5s 4.5s both;
}

#msg_5 {
  animation: chat_animation 1.5s 6s both;
}


.header_curved {
    border-radius: 0 0 50% 50% / 2% ;
    z-index: 1;
    position: relative;
    margin-bottom: -25px;
  }
